
header nav{
    background:rgba(211,211,211,0.9);
    height:62px;
    box-shadow:0 0 10px rgba(0,0,0,0.25);
}
header nav ul{
    margin:0;
    list-style:none;
    padding:0;
    float:right;
    display:flex;
}
header nav ul li a{
    float:left;
    line-height:62px;
    padding: 0 15px;
    color:black;
    text-decoration: none;
    font-weight:650;
}
header nav ul li a:hover{
    font-weight: 900;
}
h1{
  padding-left:10px;  
}
form textarea{
    height:300px;
    width:500px;
    font-size:11pt;
}
form{
    margin:0;
    position:absolute;
    left:100px;
}
form input[type="submit"]{
    position:relative;
    border-radius: 20px;
    height:30px;
    width:90px;
    right:90px;
    top: 50px;
    font-size:14pt;
    background-color:white;
    color: black;
    border: 2px solid #008CBA;
}
form input[type="submit"]:hover{
    background-color: #008CBA;
    color:white;
}
body{
    height:100%;
    margin:0;
    font-family:"Arial", sans-serif;
}
html{
    height:100%;
}