header{
    margin:0;
    height:200px;
}
footer{
    position:absolute;
    bottom: 0;
    left: 5px;
    height:20px;
}
header nav{
    background:rgba(211,211,211,0.9);
    height:62px;
    box-shadow:0 0 10px rgba(0,0,0,0.25);
}
header nav ul{
    margin:0;
    list-style:none;
    padding:0;
    float:right;
    display:flex;
}
header nav ul li a{
    float:left;
    line-height:62px;
    padding: 0 15px;
    color:black;
    text-decoration: none;
    font-weight:650;
}
header nav ul li a:hover{
    font-weight: 900;
}
header img{
    margin:0;
    position:relative;
    top:10px;
    left:50%;
    margin-left:-150px;
}
div a{
    position:relative;
    left:5%;
    line-height:80px;
}
div label{
    position:relative;
    left:7%;
    top:-60px;
}
div a[title="Appt"]{
    position:absolute;
    left:600px;
    top:200px;
}
div label[title="Appt"]{
    position:absolute;
    top:254px;
    left:755px;
}
body{
    height:100%;
    margin:0;
    font-family:"Arial", sans-serif;
}
html{
    height:100%;
}